:root { /* Defining some variables */
    --cms_dark: #131313;
    --cms_light: #ffffff;
    --cms_primary: #7d0000;
    --cms_secondary: #382a2a;
    --cms_dim: #242424;
    --cms_dark_blue: #272A35;
}

.team-name-container {
    background-color: var(--cms_dim);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    margin: auto;
    height: 48px;
}

.score-bar {
    background-color: var(--cms_dark);
    width: 100%;
    padding: 5px;
    height: 60px;
    align-items: center;
    align-content: center;
    display: grid;
}

.blue-team{
    color: #0052d6;
}

.red-team{
    color: #d60000;
}

.card{
    width: 300px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.playerhead{
    border-radius: 5px;
}

.hidden{
    display: none;
}

body{
    overflow:hidden;
}

html{
    overflow: hidden;
    background-color: rgba(0,0,0,0);
}

.primary-title{
    font-size: 100px;
    color: var(--cms_light);
    line-height: 90px;
    
}

.secondary-title{
    font-size: 50px;
    color: var(--cms_light);
}