<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMS Web Overlays</title>
    <link rel="stylesheet" href="/static/css/bulma.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/node_modules/vue/dist/vue.global.js"></script>
    <script src="/static/node_modules/animejs/lib/anime.min.js" defer></script>
    <link rel="shortcut icon" type="image/png" href="/static/assets/icon.png" />
</head>

<body>
    <section class="hero is-fullheight" style="background: s;">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-half is-vcentered">
                    <h1 class="akira primary-title" style="color: var(--cms_dark);">CMS Web Overlays</h1>
                    <h1 class="secondary-title akira">
                        <a href="/overlay">Game Overlay</a>
                    </h1>
                    <h1 class="secondary-title akira">
                        <a href="/starting_soon">Starting Soon</a>
                    </h1>
                    <h1 class="secondary-title akira">
                        <a href="/interval">Interval</a>
                    </h1>
                    <h1 class="secondary-title akira">
                        <a href="/rosters">Rosters</a>
                    </h1>
                    <h1 class="secondary-title akira">
                        <a href="/team_win">Team Win</a>
                    </h1>
                    <h1 class="secondary-title akira">
                        <a href="/draft">draft</a>
                    </h1>
                </div>
            </div>
        </div>
    </section>
</body>

</html>