<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMS Overlay</title>
    <link rel="stylesheet" href="/static/css/bulma.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/node_modules/vue/dist/vue.global.js"></script>
    <script src="/static/node_modules/animejs/lib/anime.min.js" defer></script>
    <script src="/static/js/score_bar.js" defer></script>
    <script src="/static/js/info_cards.js" defer></script>
</head>

<body>
    <div class="score-bar" id="score_bar">
        <div class="columns is-vcentered">
            <div class="column has-text-centered is-vcentered">
                <div class="team-name-container">
                    <nav class="level" style="height: 100%;">
                        <div class="level-left" style="height: 100%;">
                            <figure class="image is-48x48" v-if="red_logo">
                                <img :src="[[red_logo]]">
                            </figure>
                        </div>
                        <div class="level-item">
                            <h1 class="title red-team">[[red_name]]</h1>
                        </div>
                        <div class="level-right">
                            <h1 class="title">[[red_score]]</h1>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="column is-two-fifths has-text-centered is-vcentered">
                <h1 class="title" id="main_title">[[current_text]]</h1>
            </div>
            <div class="column has-text-centered is-vcentered">
                <div class="team-name-container">
                    <nav class="level" style="height: 100%;">
                        <div class="level-left">
                            <h1 class="title">[[blue_score]]</h1>
                        </div>
                        <div class="level-item">
                            <h1 class="title blue-team">[[blue_name]]</h1>
                        </div>
                        <div class="level-right" style="height: 100%;">
                            <figure class="image is-48x48" v-if="blue_logo">
                                <img :src="[[blue_logo]]">
                            </figure>
                        </div>
                    </nav>

                </div>

            </div>
        </div>
    </div>
    <section class="section">
        <div class="columns is-vcentered" style="height: 800px;">
            <div class="column"></div>
            <div class="column is-one-quarter is-vcentered">
                <div id="info_cards">
                    <transition @enter="cardEnter" @leave="cardLeave">
                        <div class="card" style="width: 300px" v-if="commentators.length && show_commentators">
                            <div class="card-header">
                                <p class="card-header-title akira">Commentators</p>
                            </div>
                            <div class="card-content">
                                <nav class="level" v-for="commentator in commentators">
                                    <div class="level-left">
                                        <figure class="image is-32x32">
                                            <img :src="'https://cravatar.eu/helmavatar/' + [[ commentator ]] + '/48.png'"
                                                class="playerhead">
                                        </figure>
                                        <p class="akira" style="margin-left: 10px;">[[commentator]]</p>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </transition>
                    <transition @enter="cardEnter" @leave="cardLeave">
                        <div class="card" style="width: 300px;"
                            v-if="show_notification && notification.description && notification.title">
                            <div class="card-header">
                                <p class="card-header-title akira">[[notification.title]]</p>
                            </div>
                            <div class="card-content">
                                <p class="akira">[[notification.description]]</p>
                            </div>
                        </div>
                    </transition>
                    <transition @enter="cardEnter" @leave="cardLeave">
                        <div class="card" style="width: 300px" v-if="show_next_map_card">
                            <div class="card-header">
                                <p class="card-header-title akira">Next Map</p>
                            </div>
                            <div class="card-image" v-if="next_map_card.map_id">
                                <figure class="image">
                                    <img
                                        :src="'/static/assets/map_previews/' + [[next_map_card.map_id]] + '.jpg'"></video>
                                </figure>
                            </div>
                            <div class="card-content" v-if="next_map_card.description">
                                <p class="akira">[[next_map_card.description]]</p>
                            </div>
                        </div>
                    </transition>

                </div>
            </div>
        </div>
    </section>
</body>

</html>