<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMS Team Rosters</title>
    <link rel="stylesheet" href="/static/css/bulma.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/node_modules/vue/dist/vue.global.js"></script>
    <script src="/static/node_modules/animejs/lib/anime.min.js" defer></script>
    <script type="module" src="/static/js/rosters.js"></script>

    <link rel="shortcut icon" type="image/png" href="/static/assets/icon.png" />
</head>

<body>
    <section class="hero is-fullheight" id="rosters" style="background-color: var(--cms_dark_blue);">
        <div class="hero-body">
            <div class="columns is-vcentered" style="width: 100%; margin: 80px;">
                <div class="column is-one-fifth has-text-centered">
                    <img :src="[[team_logo]]">
                </div>
                <div class="column">
                    <div class="rosters-container">
                        <nav class="level rosters-level">
                            <div class="level-item" v-for="name in upper_usernames">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="container has-text-centered">
                                            <h1 class="title steelfish" style="margin: 10px;">[[name]]</h1>
                                        </div>
                                    </div>
                                    <div>
                                            <img :src="'https://cravatar.eu/helmavatar/' + [[ name ]] + '/128.png'" class="rosters-head"></img>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <nav class="level rosters-level">
                            <div class="level-item" v-for="name in lower_usernames">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="container has-text-centered">
                                            <h1 class="title steelfish" style="margin: 10px;">[[name]]</h1>
                                        </div>
                                    </div>
                                    <div>
                                            <img :src="'https://cravatar.eu/helmavatar/' + [[ name ]] + '/128.png'" class="rosters-head"></img>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>