<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMS Overlay</title>
    <link rel="stylesheet" href="/static/css/bulma.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/node_modules/vue/dist/vue.global.js"></script>
    <script src="/static/node_modules/animejs/lib/anime.min.js" defer></script>
    <script src="/static/js/score_bar.js" defer></script>
    <script src="/static/js/info_cards.js" defer></script>
</head>

<body>
    <section class="hero is-fullheight" style="background: rgb(82,90,120);
    background: linear-gradient(65deg, rgba(82,90,120,1) 0%, rgba(0,0,0,1) 100%);">
        <div class="hero-body">
            <div class="columns is-vcentered">
                <div class="column is-half is-vcentered">
                    <p class="primary-title akira">
                        CTF MATCH SPOTLIGHT
                    </p>
                    <p class="secondary-title akira">
                        Starting Soon
                    </p>
                    <hr style="width: 70%;">
                    <p class="primary-title akira" id="time">
                        06:32
                    </p>
                    <script>function startTimer(duration, display) {
                        var timer = duration, minutes, seconds;
                        setInterval(function () {
                            minutes = parseInt(timer / 60, 10);
                            seconds = parseInt(timer % 60, 10);
                    
                            minutes = minutes < 10 ? "0" + minutes : minutes;
                            seconds = seconds < 10 ? "0" + seconds : seconds;
                    
                            display.textContent = minutes + ":" + seconds;
                    
                            if (--timer < 0) {
                                timer = duration;
                            }
                        }, 1000);
                    }
                    
                    window.onload = function () {
                        var fiveMinutes = 60 * 5,
                            display = document.querySelector('#time');
                        startTimer(fiveMinutes, display);
                    };</script>
                </div>
                <div class="columnis-vcentered is-half">
                    <p class="secondary-title akira">
                        Today's Teams
                    </p>
                    <hr>
                    <nav class="level">
                        <div class="level-left">
                            <h1 class="secondary-title akira">
                                FOtia
                            </h1>
                            
                        </div>
                        <div class="level-right">
                            <img src="/static/assets/team_logos/fotia.png" style="height: 200px;">
                        </div>
                    </nav>
                    <nav class="level">
                        <div class="level-left">
                            <p class="secondary-title akira" style="width: 400px;">
                                Delta Force
                            </p>
                            
                        </div>
                        <div class="level-right">
                            <img src="/static/assets/team_logos/delta_force.png" style="height: 200px;">
                        </div>
                    </nav>
                    
                </div>
            </div>
        </div>
    </section>
</body>

</html>